rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // ATENÇÃO: Regras abertas para depuração.
    // Isso permite que qualquer pessoa leia e escreva em qualquer lugar.
    // Esta regra é insegura e deve ser substituída após o teste.
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
