
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Deny all access as Vercel Blob is now used for storage.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
